In [3]:
!pip install glob2
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install ast

Requirement already satisfied: glob2 in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (0.7)
Collecting numpy
  Downloading numpy-1.19.5-cp39-cp39-manylinux2010_x86_64.whl (14.9 MB)
     |████████████████████████████████| 14.9 MB 2.7 MB/s eta 0:00:01    |███▌                            | 1.6 MB 3.3 MB/s eta 0:00:04     |████                            | 1.9 MB 3.3 MB/s eta 0:00:04     |████▉                           | 2.2 MB 3.3 MB/s eta 0:00:04
Installing collected packages: numpy
Successfully installed numpy-1.19.5
Collecting pandas
  Downloading pandas-1.2.0-cp39-cp39-manylinux1_x86_64.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 12.9 MB/s eta 0:00:0145 kB 4.0 MB/s eta 0:00:03     |███████████▍                    | 3.5 MB 4.0 MB/s eta 0:00:02    | 6.6 MB 4.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting pytz>=2017.3
  Downloading pytz-2020.5-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 7.2 MB/s eta 0:00:01     |███████████████████████████     | 430 kB 7.2 MB/s eta 0:00:01
Installing collected packages: pytz, pandas
Successfully installed pandas-1.2.0 pytz-2020.5
Collecting matplotlib
  Downloading matplotlib-3.3.3-cp39-cp39-manylinux1_x86_64.whl (11.6 MB)
     |████████████████████████████████| 11.6 MB 3.9 MB/s eta 0:00:01     |████████████████████████████    | 10.1 MB 3.9 MB/s eta 0:00:01
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.15 in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (from matplotlib) (1.19.5)
Requirement already satisfied: python-dateutil>=2.1 in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (from matplotlib) (2.8.1)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: six in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp39-cp39-manylinux1_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 9.5 MB/s eta 0:00:01
Collecting pillow>=6.2.0
  Downloading Pillow-8.1.0-cp39-cp39-manylinux1_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 15.7 MB/s eta 0:00:01
Installing collected packages: pillow, kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.3 pillow-8.1.0
Collecting ast
  Downloading AST-0.0.2.tar.gz (19 kB)
    ERROR: Command errored out with exit status 1:
     command: /home/meteor21/.conda/envs/conda_env/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-zz7u2y4j/ast_1e056f82766f43d38a6d5fc25d82c64b/setup.py'"'"'; __file__='"'"'/tmp/pip-install-zz7u2y4j/ast_1e056f82766f43d38a6d5fc25d82c64b/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /tmp/pip-pip-egg-info-cy7ur_pb
         cwd: /tmp/pip-install-zz7u2y4j/ast_1e056f82766f43d38a6d5fc25d82c64b/
    Complete output (7 lines):
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-zz7u2y4j/ast_1e056f82766f43d38a6d5fc25d82c64b/setup.py", line 6, in <module>
        README = codecs.open(os.path.join(here, 'AST/README'), encoding='utf8').read()
      File "/home/meteor21/.conda/envs/conda_env/lib/python3.9/codecs.py", line 905, in open
        file = builtins.open(filename, mode, buffering)
    FileNotFoundError: [Errno 2] No such file or directory: '/tmp/pip-install-zz7u2y4j/ast_1e056f82766f43d38a6d5fc25d82c64b/AST/README'
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement PIL
ERROR: No matching distribution found for PIL

In [5]:
!pip install Image

Collecting Image
  Downloading image-1.5.33.tar.gz (15 kB)
Requirement already satisfied: pillow in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (from Image) (8.1.0)
Requirement already satisfied: six in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (from Image) (1.15.0)
Collecting django
  Downloading Django-3.1.5-py3-none-any.whl (7.8 MB)
     |████████████████████████████████| 7.8 MB 24 kB/s  eta 0:00:01
Requirement already satisfied: pytz in /home/meteor21/.conda/envs/conda_env/lib/python3.9/site-packages (from django->Image) (2020.5)
Collecting asgiref<4,>=3.2.10
  Downloading asgiref-3.3.1-py3-none-any.whl (19 kB)
Collecting sqlparse>=0.2.2
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 179 kB/s eta 0:00:01
Building wheels for collected packages: Image
  Building wheel for Image (setup.py) ... done
  Created wheel for Image: filename=image-1.5.33-py2.py3-none-any.whl size=19482 sha256=3227bc2e197c669c6354eff862138373a69efd1a0553d062a6afcdbb862cc327
  Stored in directory: /home/meteor21/.cache/pip/wheels/14/4c/7c/d9b5c35a149d3bc8c72c7e92372913ff7dac9c6bd94bd1b8c9
Successfully built Image
Installing collected packages: sqlparse, asgiref, django, Image
Successfully installed Image-1.5.33 asgiref-3.3.1 django-3.1.5 sqlparse-0.4.1

In [7]:
!pip install tqdm

Collecting tqdm
  Downloading tqdm-4.56.0-py2.py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 192 kB/s eta 0:00:01
Installing collected packages: tqdm
Successfully installed tqdm-4.56.0

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ast
import glob2
import PIL
from tqdm import tqdm

import numpy as np
import shutil

In [10]:
try:
    import Image
except ImportError:
    from PIL import Image

In [48]:
txtfiles = glob2.glob('./annotations/*.txt')
txtfiles[:2]

['./annotations/gt_img_1.txt', './annotations/gt_img_2.txt']

In [99]:
txtfiles = glob2.glob('./annotations/*.txt')  #create a list of all txt files

x1 = []  #create an empty list
y1 = []  #create an empty list
x2 = []  #create an empty list
y2 = []  #create an empty list
x3 = []  #create an empty list
y3 = []  #create an empty list
x4 = []  #create an empty list
y4 = []  #create an empty list
labels = []  #create an empty list
names = []  #create an empty list
X1 = []  #create an empty list
Y1 = []  #create an empty list
X2 = []  #create an empty list
Y2 = []  #create an empty list
image_width = []  #create an empty list
image_height = []  #create an empty list


for txt in tqdm(txtfiles):  #iterate over each txt file
    
    with open(txt, 'r', encoding='utf-8-sig') as f:  #read through a txt file
        lines = f.readlines()  #store the read lines into a list
        
        gt_name = txt.split('/')[2].split('.')[0]  #get this part 'gt_img_1'
        name = gt_name.removeprefix('gt_')  #get this part 'img_1'

        #print(len(lines))


        for thing in lines:    #iterate over each line
            
            x_up_left = int(thing.split(',')[0])  #store the corresponding coordinate
            y_up_left = int(thing.split(',')[1])  #store the corresponding coordinate
            x_up_right = int(thing.split(',')[2]) #store the corresponding coordinate
            y_up_right = int(thing.split(',')[3])  #store the corresponding coordinate
            x_down_right = int(thing.split(',')[4])  #store the corresponding coordinate
            y_down_right = int(thing.split(',')[5])  #store the corresponding coordinate
            x_down_left = int(thing.split(',')[6])  #store the corresponding coordinate
            y_down_left = int(thing.split(',')[7])  #store the corresponding coordinate
            
            X_up_left = min(x_up_left, x_down_left)  #take the min for the rectangle
            Y_up_left = min(y_up_left, y_up_right)  #take the min for the rectangle
            X_down_right = max(x_up_right, x_down_right)  #take the max for the rectangle
            Y_down_right = max(y_down_right, y_down_left)  #take the max for the rectangle
            
            image = PIL.Image.open(f'./images/{name}.jpg')  #read coresponding images
            width, height = image.size  #store the dimensions
            
            image_width.append(image.size[0])  #add the width to the image_width list
            image_height.append(image.size[1])  #add the height to the image_height list
            
            
            x1.append(int(x_up_left))  #add to the x1 list
            y1.append(int(y_up_left))  #add to the y1 list
            x2.append(int(x_up_right))  #add to the x2 list
            y2.append(int(y_up_right))  #add to the y2 list
            x3.append(int(x_down_right))  #add to the x3 list
            y3.append(int(y_down_right))  #add to the y3 list
            x4.append(int(x_down_left))  #add to the x4 list
            y4.append(int(y_down_left))  #add to the y4 list
            
            X1.append(int(X_up_left))  #add to the X1 list
            Y1.append(int(Y_up_left))  #add to the Y1 list
            X2.append(int(X_down_right))  #add to the X2 list
            Y2.append(int(Y_down_right))  #add to the Y2 list
            
            labels.append(thing.split(',')[8].replace("\n", ""))  #add to the labes list
            names.append(name)

        #x1 = list(map(int, x1))  #transform to a list of int
        #y1 = list(map(int, y1))  #transform to a list of int
        #x2 = list(map(int, x2))  #transform to a list of int
        #y2 = list(map(int, y2))  #transform to a list of int
        #x3 = list(map(int, x3))  #transform to a list of int
        #y3 = list(map(int, y3))  #transform to a list of int
        #x4 = list(map(int, x4))  #transform to a list of int
        #y4 = list(map(int, y4))  #transform to a list of int
        
        
        
#create a dataframe containig the needed lists
df = pd.DataFrame(list(zip(names, labels, X1, Y1, X2, Y2, image_width, image_height)), 
               columns =['imageName', 'bbox', 'X1', 'Y1', 'X2', 'Y2', 'image_width', 'image_height'])

100%|██████████| 1000/1000 [00:05<00:00, 181.41it/s]

In [100]:
df  #view dataframe

,imageName,bbox,X1,Y1,X2,Y2,image_width,image_height
0,img_1,Genaxis Theatre,377,117,465,130,1280,720
1,img_1,[06],493,115,519,131,1280,720
2,img_1,###,374,155,409,170,1280,720
3,img_1,62-03,492,151,551,170,1280,720
4,img_1,Carpark,376,198,422,212,1280,720
...,...,...,...,...,...,...,...,...
11881,img_999,###,318,465,387,526,1280,720
11882,img_1000,###,486,211,558,248,1280,720
11883,img_1000,###,0,354,91,401,1280,720
11884,img_1000,###,48,393,64,411,1280,720
11885,img_1000,###,264,226,295,255,1280,720

In [101]:
df.to_csv(r'clean_from_txt_to_csv.csv', index = False) #save to csv